@model HumanResources.Models.DEPARTAMENTO

@{
    ViewBag.Title = "Edit";
}

<center><h2>Editar @Model.NOMBRE</h2></center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="jumbotron">

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.CODIGO_DEPARTAMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODIGO_DEPARTAMENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CODIGO_DEPARTAMENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-block btn-danger" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <br />
                <a href="/Home/Index" class="btn btn-info">&laquo;Ir al Menu Principal</a>
                <a href="/DEPARTAMENTO/Index" class="btn btn-info">Ver Departamentos&raquo;</a>
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
