@model IEnumerable<HumanResources.Models.VACACIONE>

@{
    ViewBag.Title = "Index";
}

<center><h2>Empleados</h2></center>

<p>
    <a href="/Home/Index" class="btn btn-primary">&laquo;Inicio</a>
    <a href="/VACACIONES/Create" class="btn btn-primary">Añadir +</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMENTARIOS)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLEADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_INICIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_FIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ANO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMENTARIOS)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
