@model HumanResources.Models.NOMINA

@{
    ViewBag.Title = "Crear";
}

<center><h2>Añadir Nómina</h2></center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="jumbotron">


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ANO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ANO", new List<SelectListItem>{
                     new SelectListItem{Text="2019", Value ="2019"},
                     new SelectListItem { Text = "2020", Value = "2020" }},
                     "Año", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MES", new List<SelectListItem>{
                     new SelectListItem{Text="Enero", Value ="1"},
                     new SelectListItem { Text = "Febrero", Value = "2" },
                     new SelectListItem { Text = "Marzo", Value = "3" },
                     new SelectListItem { Text = "Abril", Value = "4" },
                     new SelectListItem { Text = "Mayo", Value = "5" },
                     new SelectListItem { Text = "Junio", Value = "6" },
                     new SelectListItem { Text = "Julio", Value = "7" },
                     new SelectListItem { Text = "Agosto", Value = "8" },
                     new SelectListItem { Text = "Septiembre", Value = "9" },
                     new SelectListItem { Text = "Octubre", Value = "10" },
                     new SelectListItem { Text = "Noviembre", Value = "11" },
                     new SelectListItem { Text = "Diciembre", Value = "12" }},
                     "Mes", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTO_TOTAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" readonly="readonly" id="MONTO_TOTAL" name="MONTO_TOTAL" value="@ViewBag.TotalSalario" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar +" class="btn btn-block btn-danger" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <br />
                <a href="/Home/Index" class="btn btn-info">&laquo;Menú Principal</a>
                <a href="/NOMINA/Index" class="btn btn-info">Ver otras Nóminas&raquo;</a>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
